/* Add here all your css styles (customizations) */

table {
    font-size: 12px;
}

input {
    font-size: 12px;
}

table.dataTable {
    border-collapse: collapse;
}

.nav-main {
    padding-top: 15px;
}

.breadcrumbs.breadcrumbs-dark, .breadcrumbs.breadcrumbs-light {
    padding: 0;
}

.centered {
   text-align: center;
   font-size: 0;
}
.centered > div {
   float: none;
   display: inline-block;
   text-align: left;
   font-size: 13px;
}

.service-block a {
    color: #ffffff;
}

.compare-image {
  width:160px;
  height:160px;
}

.compare-image-container {
  height:170px;
}

.compare-star li {
  padding: 0px !important;
  min-height: 0px !important;
}

.compare-category {
  font-weight:bold;
}
