/* Add here all your css styles (customizations) */

table {
    font-size: 12px;
}

input {
    font-size: 12px;
}

table.dataTable {
    border-collapse: collapse;
}

.nav-main {
    padding-top: 15px;
}

.breadcrumbs.breadcrumbs-dark, .breadcrumbs.breadcrumbs-light {
    padding: 0;
}

.centered {
   text-align: center;
   font-size: 0;
}
.centered > div {
   float: none;
   display: inline-block;
   text-align: left;
   font-size: 13px;
}

.service-block a {
    color: #ffffff;
}

.compare-image {
  width:160px;
  height:160px;
}

.compare-image-container {
  height:170px;
}

.compare-star li {
  padding: 0px !important;
  min-height: 0px !important;
}

.compare-category {
  font-weight:bold;
}

.compare-category-rating {
  height: 50px;
}

.compare-category-attribute {
  height: 140px;
}

.compare-category-attribute-value {
  padding:0px !important;
}

.btn-compare-header {
  white-space: normal;
  height: 77px;
}

.heading-md {
  min-height:50px;
}

.content-md {
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  padding-left: 20px;
}

.inline-block {
  display:inline-block;
}

.form-section-line {
  border-top: 1px solid rgba(0,0,0,.1);
  margin-top:15px;
  margin-bottom:10px;
}

.product-block {
  height: 260px;
}

.provider-block {
  height: 120px;
  width: 140px;
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.header {
  height: 120px;
}

.background-index {
  min-height: 220px;
  height: 220px;
}


.site-description {
    font-size: 13px;
}

.site-intro {
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
}
